.button__color_primary {
    background: #F6C77F;
}

.button{
    cursor: pointer;
    padding: 10px;
    color:white;
    border: none;
    outline: none;
}

.button__variant_word{
    background: none;
    color:  #F6C77F;
}
